@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap");

.table-pokemon .ant-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-pokemon .ant-table tbody tr td.ant-table-cell {
  padding: 8px 16px;
}

.table-pokemon .ant-table {
  background-color: rgba(255, 255, 255, 0.325);
}

.table-pokemon .ant-table thead .ant-table-cell {
  background-color: rgba(255, 255, 255, 0.4);
}

.table-pokemon .ant-table .ant-table-tbody .ant-table-row:hover > td {
  background-color: rgba(255, 255, 255, 0.275);
}

.table-pokemon:where(.css-dev-only-do-not-override-190m0jy).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td.ant-table-cell-row-hover {
  background: rgba(255, 255, 255, 0.275) !important;
}

.table-pokemon .ant-pagination .ant-pagination-item-active {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(2, 84, 100, 0.25);
  color: #025464;
}

.table-pokemon .ant-pagination .ant-pagination-item-active > a {
  color: #025464;
}

.table-pokemon tbody.ant-table-tbody {
  border-color: red !important;
}
.table-pokemon button.ant-btn {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}
.table-pokemon button.ant-btn:hover {
  border-color: #00bf9e !important;
  color: #00bf9e !important;
}

/* Search Name */
.search-container input {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.75);
}

.search-container .ant-input-search input:hover,
.search-container .ant-input-search input:focus {
  border-color: #025464;
}

.search-container .ant-input-group-addon button {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container .ant-input-group-addon button.ant-btn-default:not(:disabled):hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

.search-container .ant-input-group-addon button .ant-btn-icon {
  color: #025464;
}
/* End Search Name  */

/* Select Type */
.search-container .select-type .ant-select-selector {
  border-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.search-container .select-type .ant-select-arrow {
  color: #025464;
}

.search-container .select-type .ant-select-selector:hover,
.search-container .select-type .ant-select-selector:focus,
.search-container .select-type .ant-select-selector:active {
  border-color: #025464 !important;
}

.search-container .select-type .ant-select-selector .ant-tag {
  background-color: rgba(255, 255, 255, 0.5);
}

.ant-select-dropdown {
  background-color: rgba(255, 255, 255, 0.9);
}

.select-type-option.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: rgba(2, 84, 100, 0.6);
}

/* End Select Type */

/* Select page  */
.select-page
  :where(.css-dev-only-do-not-override-byeoj0).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #00bf9e;
}

.select-page
  .ant-select-focused:where(.css-dev-only-do-not-override-byeoj0).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #00bf9e;
}

.select-page .ant-pagination-options .ant-select .ant-select-selector {
  border-color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.5);
}
/* End select page  */

/* Table Empty */
.table-pokemon .ant-table-empty tbody tr.ant-table-placeholder {
  background-color: rgba(255, 255, 255, 0.275);
}
/* End Table Empty */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

@media (max-width: 1440px) {
  .container.homepage {
    margin-bottom: 60px;
  }
  
}

@media (max-width: 992px) {
  .container.homepage {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .container.homepage {
    margin-bottom: 50px;
  }

  .table-pokemon .ant-table tbody tr.ant-table-row > td {
    padding: 6px 8px;
  }
  .table-pokemon .ant-btn {
    font-size: 12px;
    border-radius: 8px;
    padding: 0 10px;
    height: 28px;
  }
  .table-pokemon .ant-tag {
    margin-bottom: 4px;
  }

  .table-pokemon .ant-pagination > li.ant-pagination-item {
    margin-inline-end: 0;
  }
  .table-pokemon .ant-pagination a {
    font-size: 13px;
  }
}