@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap");

.table-pokemon .ant-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-pokemon .ant-table tbody tr td.ant-table-cell {
  padding: 8px 16px;
}

.table-pokemon .ant-table {
  background-color: rgba(255, 255, 255, 0.325);
}

.table-pokemon .ant-table thead .ant-table-cell {
  background-color: rgba(255, 255, 255, 0.4);
}

.table-pokemon .ant-table .ant-table-tbody .ant-table-row:hover > td {
  background-color: rgba(255, 255, 255, 0.275);
}

.table-pokemon .ant-pagination .ant-pagination-item-active {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(2, 84, 100, 0.25);
  color: #025464;
}

.table-pokemon .ant-pagination .ant-pagination-item-active > a {
  color: #025464;
}

.table-pokemon tbody.ant-table-tbody {
  border-color: red !important;
}
.table-pokemon button.ant-btn {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}
.table-pokemon button.ant-btn:hover {
  border-color: #00bf9e !important;
  color: #00bf9e !important;
}

/* Search Name */
.search-container input {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.75);
}

.search-container .ant-input-search input:hover,
.search-container .ant-input-search input:focus {
  border-color: #025464;
}

.search-container .ant-input-group-addon button {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container .ant-input-group-addon button.ant-btn-default:not(:disabled):hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

.search-container .ant-input-group-addon button .ant-btn-icon {
  color: #025464;
}
/* End Search Name  */

/* Select Type */

.search-container .select-type .ant-select-selector {
  border-color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.search-container .select-type .ant-select-arrow {
  color: #025464;
}

.search-container .select-type .ant-select-selector:hover,
.search-container .select-type .ant-select-selector:focus,
.search-container .select-type .ant-select-selector:active {
  border-color: #025464 !important;
}

.search-container .select-type .ant-select-selector .ant-tag {
  background-color: rgba(255, 255, 255, 0.5);
}

.ant-select-dropdown {
  background-color: rgba(255, 255, 255, 0.9);
}

.select-type-option.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: rgba(2, 84, 100, 0.6);
}

/* End Select Type */

/* Select page  */
.select-page
  :where(.css-dev-only-do-not-override-byeoj0).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #00bf9e;
}

.select-page
  .ant-select-focused:where(.css-dev-only-do-not-override-byeoj0).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #00bf9e;
}

.select-page .ant-pagination-options .ant-select .ant-select-selector {
  border-color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.5);
}
/* End select page  */

/* Table Empty */
.table-pokemon .ant-table-empty tbody tr.ant-table-placeholder {
  background-color: rgba(255, 255, 255, 0.275);
}
/* End Table Empty */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

/* Pokemon Details */

.pokemon-detail {
  margin-bottom: 4rem;
}

.spin-loading {
  margin: auto;
}

.pokemon-detail {
  text-align: start;
}

.pokemon-detail p {
  margin: 0.5rem 0;
}

.pokemon-img {
  width: 100%;
  height: auto;
  text-align: center;
}

.back-link {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.back-link > a {
  text-decoration: none;
}

.btn-back {
  position: relative;
  display: flex;
  align-items: center;
  color: #025464;
  font-size: 16px;
  font-weight: 600;
  font-family: "Sarabun", sans-serif;
  height: 32px;
  width: 144px;
  padding: 1rem;
  border: 1.75px solid #025464;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
}

.btn-back:hover,
.btn-back:active,
.btn-back:focus {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
}

.back-link .btn-back span.btn-text {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-right: 0.25rem;
}

.col-img-xs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-pokemon {
  width: 100%;
  z-index: 1;
  animation-name: moveUp;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.img-shadow {
  position: relative;
  background-color: black;
  z-index: -1;
  margin: 0px 15%;
  padding: 15px;
  border-radius: 200%;
  opacity: 0.4;
  transform: translate(0px, 15px);
  animation-name: shadowMove;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shadowMove {
  0% {
    margin: 0px 10%;
  }

  50% {
    margin: 0px 15%;
  }

  100% {
    margin: 0px 10%;
  }
}

.card-pokemon {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 100%;
  max-width: 40vw;
  border-radius: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 21, 41, 0.2);
}

.card-pokemon .pokemon-title {
  margin-bottom: 0.5em;
}

.card-pokemon .stat-base {
  font-weight: 600;
  font-size: 16px;
}

.card-pokemon .container-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-pokemon .card-type {
  margin-top: 1.5rem;
  margin-right: 1rem;
  /* color: #025464; */
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
  font-family: "Sarabun", sans-serif;
}

.card-pokemon .card-type .type-logo {
  width: 28px;
}

.container-station {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-station button {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  font-family: "Sarabun", sans-serif;
  height: 56px;
  width: 144px;
  border: none;
  border-radius: 3rem;
  margin: 0 0.5rem;
}

.container-station .btn-previous {
  color: #fff;
  border-bottom: 8px solid #d61a35;
  background-color: #ed2e49;
}

.container-station .btn-next {
  color: #fff;
  border-bottom: 8px solid #043e8b;
  background-color: #004aad;
}

.container-station .text-btn {
  display: flex;
  align-items: center;
}

.img-mode-m {
  display: none;
}
.img-mode-c {
  text-align: center;
  display: block;
}

@media (max-width: 992px) {
  .card-pokemon {
    max-width: 100%;
  }

  .pokemon-detail .img-container {
    width: 280px;
  }

  .img-mode-m {
    display: flex;
  }

  .img-mode-c {
    display: none;
  }
}

@media (max-width: 576px) {
  .container.homepage {
    margin-bottom: 75px;
  }
  .table-pokemon .ant-table tbody tr.ant-table-row > td {
    padding: 6px 12px;
  }
  .table-pokemon .ant-btn {
    font-size: 12px;
    border-radius: 8px;
    padding: 0 10px;
    height: 28px;
  }
  .table-pokemon .ant-tag {
    margin-bottom: 4px;
  }

  /* Detail Page */
  .back-link {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .back-link .btn-back {
    width: 115.2px;
    padding: 0.75rem;
    border-width: 1px;
  }

  /* .col-img-xs {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .img-mode-m {
    display: flex;
  }
  .img-mode-c {
    display: none;
  }

  .pokemon-detail .img-container {
    /* text-align: center; */
    width: 200px;
  }

  .pokemon-detail .card-pokemon {
    padding: 0;
    max-width: 100%;
    border-radius: 14px;
  }

  .card-pokemon h1.pokemon-title {
    font-size: 30px;
  }
  .card-pokemon h3.pokemon-base-stats-label {
    margin-top: 0.75em;
    font-size: 20px;
  }
  .card-pokemon .ant-col .ant-typography {
    font-size: 14px;
    margin: 0;
  }

  .card-pokemon .card-type {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 18px;
    border-radius: 12px;
  }
  .card-pokemon .card-type .ant-card-body {
    padding: 9px 13.5px !important;
  }
  .card-pokemon .card-type .type-logo {
    width: 21px;
  }

  .container-station {
    margin-top: 1.5rem;
  }

  .container-station button {
    font-size: 16px;
    height: 42px;
    width: 108px;
  }
}

/* มือถือขนาดเล็ก  */
@media (max-width: 375px) {
  @media (max-height: 750) {
    
  }
  .back-link {
    margin-top: 0.5rem;
  }
  .back-link .btn-back {
    font-size: 14px;
    width: 96px;
    height: 28px;
    /* padding: ; */
  }

  .pokemon-detail .img-container {
    width: 160px;
  }
  .pokemon-detail .card-pokemon {
    border-radius: 16px;
  }
  .pokemon-detail .card-pokemon .ant-card-body {
    padding: 20px;
  }

  .card-pokemon h1.pokemon-title {
    font-size: 26px;
  }
  .card-pokemon h3.pokemon-base-stats-label {
    margin-top: 0.75em;
    font-size: 18px;
  }
  .card-pokemon .ant-col .ant-typography {
    font-size: 12px;
    margin: 0;
  }
  .ant-progress > .ant-progress-outer{
    height: 13px !important;
  }
  .ant-progress > .ant-progress-outer .ant-progress-bg {
    height: 13px !important;
  }

  .card-pokemon .card-type {
    border-radius: 15px;
    font-size: 17px;
  }
}