@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

footer {
  box-shadow: 0 -0.25rem 1rem rgba(0, 0, 0, 0.125);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 2.5rem 0; */
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  color: rgba(255, 255, 255, 0.75);
}

.footer-container ul.contact {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1.25rem;
}

footer .contact > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  /* color: #e6e6e6; */
  font-size: 24px;
}

/* Macbook Air  */
@media (max-width: 1440px) {
  .footer-container {
    /* padding: 1.5rem 0; */
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .footer-container {
    padding: 1.25rem 0.5rem;
    padding-bottom: 1.5rem;
  }
  .footer-container ul.contact {
    gap: 0.75rem;
  }
  footer .license {
    font-size: 14px;
  }
  footer .contact > li > a {
    font-size: 22px;
  }
}