body {
  /* background-color: rgba(252, 238, 200, 0.2); */
  background-image: linear-gradient(
    to right top,
    #025464,
    #006775,
    #007b83,
    #008f8f,
    #00a498,
    #3ab299,
    #5bc09a,
    #79cd9b,
    #a4d7a1,
    #c8e1ad,
    #e7ebbf,
    #fff7d6
  );
  box-sizing: border-box;
  /* width: 100%; */
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img,
svg {
  vertical-align: middle;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container.homepage {
  margin-bottom: 100px;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

.text-start {
  text-align: left !important;
}
.text-end {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.pokemon-brand {
  text-align: center;
  color: #014856;
  margin: 2rem 0;
}

@media (max-width: 576px) {
  .pokemon-brand {
  text-align: center;
  font-size: 20px;
  margin: 1rem 0;
  }

  .container.homepage {
    margin-bottom: 75px;
  }
}
